# ===============================
# Игнорировать всё по умолчанию
# ===============================
/*

# ===============================
# Отслеживать только нужное
# ===============================
!src/
!pom.xml
!README.md
!.gitignore

# ===============================
# Игнорировать временные файлы IDE
# ===============================
.idea/
*.iml
*.iws
out/

# ===============================
# Игнорировать Maven target и отчёты
# ===============================
target/
**/target/
jacoco.exec
jacoco-ut.exec
site/

# ===============================
# OS и прочее
# ===============================
.DS_Store
Thumbs.db
